doctype html
html(lang="en")
    head
        title Andela Olympics
        include shared/head
    body
        .wrapper
            .sidenav
                .logo
                    img.responsive-img(src='img/olympic.png')
                .expander.hide-on-med-and-up
                    a(href='#')
                        i.mdi-navigation-menu.small
                ul.side-menu
                    li.active
                        a(href='#')
                            i.mdi-navigation-apps.small
                    li
                        a.how-link(href='#')
                            i.mdi-social-people.small
            .top-nav.row
                .nav-container
                    .app-name.col.s11.m3.l3.valign-wrapper
                        h3.uppercase.valign.center-align Andela Olympics
                    .welcome.hide-on-small-only
                        a.btn-signup(href='#')
                            span Sign up
                        //- a.btn-login(href='#')
                            span Login
            video#bgvid.hide-on-med-and-down(autoplay='', loop='', poster='')
                source(src='media/hackdown.webm', type='video/webm')
                source(src='media/hackdown.mp4', type='video/mp4')
            .overlay
                .content.row
                    h1 HOW?
                    p.col.s12.m10.l8
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        | proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                .content.how.row
                    h1 HHKJKB?
                    p.col.s12.m10.l8
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        | proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                .content.now.row
                    h1 HOWhbbjhbm?
                    p.col.s12.m10.l8
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        | proident, sunt in culpa qui officia deserunt mollit anim id est laborum
