meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel='shortcut icon', href='/img/olympics-icon.png', type='image/png')

base(href="/")

// CDN provided
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css")
link(href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
link(href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')

//build:css /dist/style.css
link(rel="stylesheet" href="/lib/materialize/dist/css/materialize.min.css" type="text/css")
link(rel="stylesheet" href="/css/layout.css" type="text/css")
// endbuild

// build:js /dist/lib.js
script(src="../../lib/jquery/dist/jquery.min.js")
script(src="../../lib/angular/angular.js")
script(src="../../lib/materialize/dist/js/materialize.min.js")
script(src="../../lib/jquery.scrollTo/jquery.scrollTo.min.js")
script(src="../../lib/lodash/dist/lodash.min.js")
script(src="../../lib/moment/min/moment.min.js")
script(src="../../lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="../../lib/angular-cookies/angular-cookies.min.js")
script(src="../../lib/firebase/firebase.js")
script(src="../../lib/angularfire/dist/angularfire.min.js")
// endbuild

script(src="/js/index.js")
