include ../shared/layout
.overlay
    .content.comp.row
        h1 HOW?
        p.col.s12.m10.l8
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            | proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    .content.teams.row
        h1 Teams
        p.col.s12.m10.l8
            .contai.grid
            .row
              .col.s12.m3
                .card.blue-grey.darken-1.trans
                  .card-content.white-text
                    span.card-title Nebula
                      ul
                        li.collection-item.avatar
                          img.circle(src='../img/ladi.jpg', alt='')
                          span.title John Doe
                            p
                              | Jane Doe
                              br
                              |          Kid Doe
                  .card-action.right-align
                    a(href='#')
                      i.mdi-navigation-more-vert
              .col.s12.m3
                .card.blue-grey.darken-1
                  .card-content.white-text
                    span.card-title Iconic
                    p
                      | I am a very simple card. I am good at containing small bits of information.
                      | I am convenient because I require little markup to use effectively.
                  .card-action
                    a(href='#') This is a link
              .col.s12.m3
                .card.blue-grey.darken-1
                  .card-content.white-text
                    span.card-title Neptune
                    p
                      | I am a very simple card. I am good at containing small bits of information.
                      | I am convenient because I require little markup to use effectively.
                  .card-action
                    a(href='#') This is a link
              .col.s12.m3
                .card.blue-grey.darken-1
                  .card-content.white-text
                    span.card-title Oculus
                    p
                      | I am a very simple card. I am good at containing small bits of information.
                      | I am convenient because I require little markup to use effectively.
                  .card-action
                    a(href='#') This is a link
              .col.s12.m3
                .card.blue-grey.darken-1
                  .card-content.white-text
                    span.card-title FLying Spaghettis
                    p
                      | I am a very simple card. I am good at containing small bits of information.
                      | I am convenient because I require little markup to use effectively.
                  .card-action
                    a(href='#') This is a link
              .col.s12.m3
                .card.blue-grey.darken-1
                  .card-content.white-text
                    span.card-title Strawberry Dragons
                    p
                      | I am a very simple card. I am good at containing small bits of information.
                      | I am convenient because I require little markup to use effectively.
                  .card-action
                    a(href='#') This is a link
              .col.s12.m3
                .card.blue-grey.darken-1
                  .card-content.white-text
                    span.card-title Queen Peas
                    p
                      | I am a very simple card. I am good at containing small bits of information.
                      | I am convenient because I require little markup to use effectively.
                  .card-action
                    a(href='#') This is a link
        a.btn-floating.btn-large.waves-effect.waves-light.red
            i.mdi-content-add


script(type='text/javascript').
  $(function() {
    $('.teams-link').on('click', function() {
      $('.overlay').scrollTo('.content.teams', 800);
    });
    $('.comp-details').on('click', function() {
      $('.overlay').scrollTo('.content.comp', 800);
    });
  });
