include ../shared/layout
.overlay
  .montage.flex.column-layout.align-middle-center
    h1 {{ competition.details.name }}
    p.spacer-below {{ competition.details.what }}
    a.details-link.more-button(href='#') Find out more
  .competition-details
    .fg-container
      h2.center-align.header Competition Details
      .row.clear
        .col.s12.m6.l4
          .custom-card
            .content
              .icon
                i.material-icons info_outline
              .title How?
              span(ng-repeat='instruction in competition.details.how')
                p {{ instruction }}
                .small.divider
        .col.s12.m6.l4
          .custom-card
            .content
              .icon
                i.material-icons event
              .title When?
              p.em Starts
              p {{ competition.details.when.start }}
              .small.divider
              p.em Starts
              p {{ competition.details.when.end }}
        .col.s12.m6.l4
          .custom-card
            .content
              .icon
                i.material-icons person_pin
              .title Who?
              p Any legitimately employed Andela Fellow
      h2.center-align.header.spacer Winning Categories
      .row.clear 
        .col.s12.m6.l6
          .transparent-card
            .content
              .image
              .title Most Innovative
              p This goes to the most innovative app
        .col.s12.m6.l6
          .transparent-card
            .content
              .image
              .title Most Innovative
              p This goes to the most innovative app
  .team-details
    .fg-container
      h2.center-align.header Teams
      .row
        .col.s12.m6.l4(ng-repeat='(team_id, team) in competition.teams')
          .card.team-card
            .team-list
              ul
                li.flex.align-middle-left(ng-repeat='(member_id, member) in team.members')
                  .fill
                    img.circle(ng-src='{{member.picture}}')
                    span.title {{member.name}}
                  .actions(ng-if='(currentUser.uid === team_id) && !member.accepted')
                    a.green-text.text-accent-2(href='#' ng-click="acceptMember(member_id)")
                      i.material-icons.accept done
                    a.red-text.text-accent-2(href='#' ng-click="declineMember(member_id)")
                      i.material-icons.decline remove
            .card-content
              span.card-title.activator.flex.align-middle-left
                .team-name.fill {{team.name}}
                i.material-icons.right more_vert
            .card-reveal
              .card-title.white-text
                | {{team.name}}
                i.material-icons.right close
              p.white-text
                | {{team.description}}
              .card-action.right-align(ng-if='currentUser')
                a.waves-effect.waves-light.waves-ripple(href='#' ng-click='joinTeam(team_id)' ng-hide='currentUser.uid === team_id')
                  i.material-icons person_add
                a.waves-effect.waves-light.waves-ripple(href='#' ng-click='registerTeam(team_id)' ng-if='currentUser.uid === team_id')
                  i.material-icons send
      .row
        .col.s12
          a.btn-floating.btn-large.waves-effect.waves-light.red.modal-trigger.btn.tooltipped(href='#create-team-modal' data-tooltip="Create a Team" data-position="right" data-delay="50")
            i.material-icons add
include modals/create-team

script().
  $(function() {
    $('.modal-trigger').leanModal();
    $('.teams-link').on('click', function() {
      $('.overlay').scrollTo('.content.teams', 800);
    });
    $('.comp-details').on('click', function() {
      $('.overlay').scrollTo('.content.comp', 800);
    });
    $('.tooltipped').tooltip({"delay": 50});
  });
